.exercise-a{
  width: 20px;
  height: 20px;
  background-color: black;
  color: white;
  padding: 8px 8px;
  font-family: arial;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50;
  right: 50px;
}

.exercise-b{
  width: 320px;
  height: 180px;
  background-color: rgb(128, 128, 128);

  position: fixed;
  bottom: 50px;
  right: 50px;
}

.exercise-c{
  width: 20px;
  height: 20px;
  background-color: black;
  color: white;
  padding: 8px 8px;
  font-family: arial;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: -10px;
  left: -15px;
}

.exercise-d{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 8px;
  font-weight: 500;
  
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.exercise-e{
  position: relative;
  display: inline-block;
}

.pagani{
  width: 200px;
  height: 300px;
  object-fit: cover;
  z-index: 100;
}

.sale{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding: 8px 15px;
  
  position: absolute;
  top: 15px;
  right: 0;
}

.cart-message{
  background-color: rgb(184, 184, 184, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: absolute;
  height: 125px;
  bottom: 0;
  right: 0;
  left: 0;
}

.add-to-cart-button{
  background-color: white;
  color: black;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 10px 15px;
}
